<!-- Header -->
<header class="py-3 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
      <span class="fs-3">Ropes and mayhem</span>
    </a>
    <ul class="nav col-12 col-lg-auto my-1 justify-content-center my-md-0 text-small">
      <li>
        <a class="nav-link link-body-emphasis fs-5 py-2 px-0 px-lg-2 py-2 px-0 px-lg-2" href="https://github.com/niklasnson/netherthing.rb" target="_blank">
          <i class="bi bi-github"></i>
        </a>
      </li>
      <li>
        <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
        <hr class="d-lg-none my-2 text-white-50">
      </li>
      <li class="dropdown">
        <a class="nav-link link-body-emphasis dropdown-toggle py-2 px-0 px-lg-2 py-2 px-0 px-lg-2 fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-circle-half"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
              <i class="bi bi-brightness-high-fill me-2"></i>Light
            </button>
            <li>
           <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
              <i class="bi bi-moon-stars me-2"></i>Dark
            </button>
            <li>
           <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
              <i class="bi bi-circle-half me-2"></i>Auto
            </button>
        </ul>
      </li>
    </ul>
  </div>
</header>

<!-- Navbar -->
<nav class="py-2 bg-body-tertiary border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Home</a></li>
      <li class="nav-item link-body-emphasis dropdown">
        <a class="nav-link link-body-emphasis text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Info
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item link-body-emphasis dropdown">
        <a class="nav-link link-body-emphasis text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Covers
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item link-body-emphasis dropdown">
        <a class="nav-link link-body-emphasis text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Scene News
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Gossip</a></li>
      <li class="nav-item link-body-emphasis dropdown">
        <a class="nav-link link-body-emphasis text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Events
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item link-body-emphasis dropdown">
        <a class="nav-link link-body-emphasis text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Exposé
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item link-body-emphasis dropdown">
        <a class="nav-link link-body-emphasis text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Reviews
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
