<!DOCTYPE html>
<html lang="{{ site.lang }}" data-bs-theme="{{ site.bs_theme }}">

  <!-- Head -->
  <head>
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <main>
      <section class="container my-2">
        {{ content }}
      </section>
    </main>

    <!-- Footer -->
    {% include footer.liquid %}
</html>

<!-- JavaScripts -->
{% include scripts.liquid %}
